body{font-family:Arial;text-align:center;background:#f0f4ff}
.box{background:white;width:350px;margin:20px auto;padding:20px;border-radius:10px;box-shadow:0 2px 10px #ccc}
button{padding:10px 15px;background:green;color:white;border:none;border-radius:5px}
